<% include head %>
</body>
<form method='post' action = '/newpost'>
    <label>Title<input type="text" name="title" /></label>
    <br/>
    <label>Url<input type="text" name="url" /></label><br />
    <input type="submit" name="Submit" value="Create New Link" />
    
</form>
</html>
    <% include footer %>